.topnav {
  overflow: hidden;
  background-color: black;
  justify-content: space-between;
  display: flex;
  height: 6%;
}
.topnav a {
  float: left;
  color: orchid;
  text-align: center;
  padding: 1% 1%;
  font-size: 100%;
}

.topnav a:hover {
  background-color: blueviolet;
  color: black;
}

.search {
  width: 25%;
  margin: 0.5%;
}

body {
  background-color: #1b1a1a;
}

.flag {
  width: 200px;
  height: auto;
}
.name {
  color: white;
  text-decoration: none;
  font-size: 100%;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 calc(33.33333333333333% - 20px);
}

.boitepays {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

a {
  text-decoration: none;
}

.Nomdetails {
  color: aliceblue;
}

.Flagdetails img {
  margin-top: 5%;
  height: 200px;
  width: auto;
}
.namef {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basicnames {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.tld {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.geographicall {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.poli {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.eco {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.currencies {
  display: flex;
  -ms-flex-align: center;
}
