.topnav {
  overflow: hidden;
  background: linear-gradient(to right, rgb(183, 83, 99), transparent);
  background-size: 200% 100%;
  animation: scrollBackground 10s linear infinite;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centre les éléments verticalement */
  height: 8%;
}

/* Ajoutez une nouvelle animation pour le fond défilant */
@keyframes scrollBackground {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.active {
  float: left; /* Place World View à gauche */
}

.search {
  width: 25%;
  margin: 0 auto; /* Centre la barre de recherche horizontalement */
}

.filters {
  float: right; /* Place le choix de filtre à droite */
}

.topnav a {
  color: orchid;
  text-align: center;
  padding: 1% 1%;
  font-size: 100%;
}

.topnav a:hover {
  background-color: blueviolet;
  color: black;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

body {
  background-color: #1b1a1a;
}

.flag {
  width: 200px;
  height: auto;
}

.name {
  color: white;
  text-decoration: none;
  font-size: 100%;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 calc(33.33333333333333% - 20px);
}

.card p {
  text-decoration: none;
  color: aliceblue;
}

.boitepays {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

a {
  text-decoration: none;
}

.Nomdetails {
  color: aliceblue;
}

.Flagdetails img {
  margin-top: 5%;
  height: 200px;
  width: auto;
}

.namef {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basicnames,
.tld,
.geographicall,
.poli,
.eco {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 8px;
  color: white;

  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.currencies {
  display: flex;
  align-items: center;
}

Link a:hover {
  background-color: aqua;
}
