@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.topnav {
  overflow: hidden;
  background-color: black;
  justify-content: space-between;
  display: flex;
}
.topnav a {
  float: left;
  color: orchid;
  text-align: center;
  padding: 1% 1%;
  text-decoration: none;
  font-size: 100%;
}

.topnav a:hover {
  background-color: blueviolet;
  color: black;
}

.search {
  width: 20%;
  margin: 1%;
}

body {
  background-color: #333;
}
